* {
    margin: 0;
    padding: 0;
}

header {
    height: 50px;
    width: 100%;
    background-color: lightcoral;
}

nav{
    display: flex;
    padding-top: 12px;
}

nav ul{
    display: flex;
    width: 200px;
    margin: 0 auto;
}
li {
float: left;
padding: 0 10px; 
width:50px;
}

ul, li{
list-style: none;
}

.content {
    min-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.login {
display: flex;
flex-direction: column;
}
footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
}